.action-bar-container {
    min-height: 3em;
    align-items: center;
    display: flex;
    cursor: pointer;
    place-self: end;
    align-self: center;
    gap: 0.5em;
    margin-inline-start: 0.5em;
}

.action-bar-container .star {
    margin-inline-start: 0.5em;
    margin-block-end: 0.08em;
}

.action-bar-container i {
    padding: 0.8em;
    border-radius: 100%;
}

.action-bar-container i:hover{
    background: var(--gm-hover-link);
}
