.mail-preview .from {
    font-weight: 600;
}

.mail-preview  {
    width: 100%;
    font-weight: 300;
    font-size: 0.85em;
    text-align: start;
    display: grid;
    grid-auto-flow: column;
    align-items: baseline;
    column-gap: 0.5em;
    grid-template-columns: 
      minmax(auto, 0.5fr)
      minmax(auto, 0.5fr)
      minmax(auto, 0.5fr)
      minmax(auto, 2fr)
      minmax(auto, 3fr)
      minmax(auto, 5fr)
      minmax(auto, 2fr);
}


.mail-preview .upper {
    text-transform: capitalize;
}

