/* phone */

@media (max-width:720px) {
    /* appheader */

    .mail-index .nav-btns img {
        max-width: 50px;
    }

    /* filter */
    .mail-side-filter .side-link {
        display: flex;
        align-items: center;
        justify-content: center;
        border-top-right-radius: 3em;
        border-bottom-right-radius: 3em;
        font-weight: 300;
        font-size: 0.85em;
        color: #001d35;
        position: relative;
    }

    .mail-side-filter .side-link.inbox i {
        margin-right: 0px;
    }

    .mail-side-filter .side-link span {
        display: none;
    }

    .mail-side-filter .compose-btn span {
        display: none;
    }

    .mail-side-filter .compose-btn {
        border: none;
        padding: 1em;
        background-color: var(--gm-button-bg);
        border-radius: 1em;
        max-width: max-content;
        gap: 1em;
        margin-inline-start: 1em;
        margin-block-end: 1em;
        cursor: pointer;
    }

    .mail-side-filter .side-link i {
        padding: 1em;
        border-radius: 100%;
    }

    .mail-side-filter .side-link.active>i {
        background: var(--gm-active-color);
        font-weight: bold;
    }

    .mail-top-filter .sort-by {
        display: none;
    }


    /* preview */
    .mail-preview {
        width: 95%;
        font-weight: 300;
        font-size: 0.85em;
        display: grid;
        grid-auto-flow: column;
        line-height: 1.5em;
        cursor: pointer;
        row-gap: 0.05em;
        grid-template-columns: 1fr 4fr 2fr;
    }

    .mail-list li {
        margin-block-end: 1em;
    }

    .mail-preview .from {
        grid-column: 2;
        grid-row: 1;
    }

    .mail-preview .starred {
        position: relative;
        top: 1.6em;
        grid-row: 2/3;
        grid-column: 3;
        justify-self: end;
    }

    .mail-preview .body,
    .mail-preview p {
        grid-row: 3;
        grid-column: 2;
        margin: 0px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    .mail-preview input {
        display: none;
    }

    .mail-preview .subject {
        grid-row: 2;
        grid-column: 2;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        align-self: center;
    }

    .mail-preview .sentAt {
        grid-column: 3;
        grid-row: 1;
        justify-self: end;
    }

    .mail-preview .user-icon {
        grid-row: 1/3;
        grid-column: 1;
    }

    .mail-preview .user-icon i {
        font-size: 3.5em;
        margin-inline-end: 0.5em;
        font-weight: bold;
        position: relative;
        top: 0.2em;
        border-radius: 100%;
        color: white;
        box-shadow: 0.5px 1px 2px #0000003d;
    }

    .mail-preview .from-draft {
        grid-column: 1;
        grid-row: 2;
        justify-self: start;
        margin-block-start: 1em;
        font-weight: 300;
        color: red;
        margin-inline-end: 2em;
    }

    .mail-list .action-bar-container {
        display: none;
    }


    /* mail info */

    section.mail-details {
        padding-block-start: 1em;
        padding-inline-start: 1.5em;
    }

    .mail-details .action-bar-container {
        gap: 0;
    }

    .mail-details .mail-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .mail-details .sender-details {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .mail-details .sender-details div>* {
        margin-inline-end: 0.2em;
    }

    .mail-details .user-icon {
        grid-row: 1/3;
        grid-column: 1;
    }

    .mail-details .user-icon i {
        font-size: 2.5em;
        margin-inline-end: 0.5em;
        font-weight: bold;
        position: relative;
        border-radius: 100%;
        color: white;
        box-shadow: 0.5px 1px 2px #0000003d;
    }


    .mail-details .mail-info .name {
        margin-block-end: 0.2em;
        display: inline-block;
        font-weight: 700;
    }

    .mail-details p {
        margin-inline-start: 4em;
        margin-inline-end: 1em;
        margin-block-start: 1.5em;
        line-height: 1.7em;
    }

    .mail-details .mail-info .sent-at {
        font-size: 0.7em;
        margin-block-start: 0.7em;
        margin-inline-start: 0.5em;
    }

    .mail-details .starred {
        display: flex;
        align-items: center;
    }

    /* mail compose */
    .compose-mail {
        display: flex;
        flex-direction: column;
        position: fixed;
        right: 0;
        bottom: 0;
        width: 100vw;
        height: 98vh;
        background-color: #fff;
        box-shadow: 0px 1px 2px #00000057;
        border-radius: 0.5em;
        font-family: "Google Sans", Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    }

    .compose-mail .compose-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: var(--gm-compose-header);
        padding: 0.5em;
        padding-inline-start: 1em;
    }

    .compose-mail .compose-header h1 {
        padding-bottom: 10px;
        padding-top: 10px;
        height: auto;
        line-height: 20px;
        padding-left: 0;
        padding-right: 0;
        -webkit-font-smoothing: antialiased;
        font-size: .875rem;
        letter-spacing: normal;
        font-weight: 500;
        margin: 0;
    }

    .compose-mail .compose-header .ctrl-btns {
        display: flex;
        padding-top: 10px;
        padding-bottom: 10px;

    }

    .compose-mail .ctrl-btns button {
        border: none;
        background: none;
        cursor: pointer;
    }

    .compose-mail .ctrl-btns button:not(.close-btn) {
        font-size: 0.5em;
    }


    .compose-mail .compose-inputs {
        display: flex;
        flex-direction: column;
        padding: 1em;
    }

    .compose-mail .input-group {
        display: flex;
        align-items: center;
    }

    .compose-mail .input-group label {
        margin-right: 2px;
        min-width: 10px;
        font-size: 0.95em;
    }

    .compose-mail .input-group input {
        flex: 1;
        padding: 5px;
        border: none;
    }

    .compose-mail .input-group input:focus {
        outline: none;
    }

    .compose-mail .mail-body {
        width: 100%;
        height: 60vh;
        padding: 10px;
        box-sizing: border-box;
        border: none;
        font-family: inherit;
        resize: none;
    }

    .compose-mail .horizontal-line {
        border: none;
        height: 1px;
        background-color: #cccccc6f;
        width: 100%;
        align-self: center;
    }

    .compose-mail .mail-body:focus {
        outline: none;
    }

    .compose-mail .send-btn {
        background-color: #0b57d0;
        color: white;
        border: none;
        min-width: 7em;
        border-radius: 3em;
        padding: 1em;
        cursor: pointer;
    }

    .compose-mail .bottom-ctrls {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-block-end: 1em;
        padding: 1em;
    }

    .compose-mail .bottom-ctrls .to-note-btn {
        border: none;
        background-color: transparent;
        font-size: 1.02em;
        cursor: pointer;
        transition: scale 0.5s ease-in-out;
    }

    .compose-mail .bottom-ctrls .to-note-btn:hover,
    .exit-btn:hover {
        scale: 1.05;
    }

    .compose-mail .exit-btn {
        border: none;
        background-color: transparent;
        font-size: 1em;
        cursor: pointer;
    }

    .compose-mail.mini {
        height: 3.5em;
    }

    .compose-mail .maximize-btn {
        display: none;
    }

    .compose-mail.mini .input-group,
    .compose-mail.mini .bottom-ctrls,
    .compose-mail.mini .horizontal-line {
        display: none;
    }


    /* home */
    html .home-page {
        scroll-behavior: smooth;
        height: 50vh;
        background-color: #cfcfcf;
    }

    .home-page .footer-img {
        display: none;
    }

    .home-page img {
        object-fit: fill;
    }

    .home-page .app-header-btn {
        position: absolute;
        right: 1em;
        top: 0.7em;
        margin-inline-start: 10em;
        font-size: 1em;
        color: #cfcfcf;
    }

    .home-page .nav-btns {
        top: 2.5em;
        right: 0em;
    }

    .home-page .nav-btns img {
        max-width: 2em;
    }

    .home-page .hp-links>img {
        margin-block-start: 1em;
        margin-inline-start: 1em;
        max-width: 250px;
        height: auto;
        cursor: pointer;
    }

    .home-page .hp-links {
        display: flex;
        position: absolute;
        right: 3em;
        top: 2.5em;
        margin-inline-start: 3.5em;
        margin-block-start: 1em;
    }

    .home-page .hp-link {
        max-width: 13vw;
        background: transparent;
        border: none;
        cursor: pointer;
    }

    .home-page .hp-link:hover {
        border-radius: 0.5em;
        background-color: var(--gm-hover-link);
    }

    .app-header-btn:hover {
        background-color: #ffffff19;
    }

}

/* medium */

@media (min-width: 720px) {

    /* index */
    .mail-index.content-grid {
        --main-width: 1800px;
        --side-width: 200px;
        --min-margin: 1em;

        grid-template-columns:
            var(--side-width) minmax(auto, var(--main-width)) minmax(var(--min-margin), auto);
    }

    /* filter */
    .mail-side-filter .compose-btn {
        border: none;
        padding: 1.5em;
        background-color: var(--gm-button-bg);
        border-radius: 1em;
        max-width: max-content;
        display: flex;
        gap: 1em;
        margin-inline-start: 1em;
        margin-block-end: 1em;
        cursor: pointer;
    }

    .mail-side-filter .side-link:not(.inbox) {
        display: grid;
        padding: 0.5em 2.5em;
        width: 95%;
        border-top-right-radius: 3em;
        border-bottom-right-radius: 3em;
        font-weight: 300;
        font-size: 0.85em;
        grid-auto-flow: column;
        grid-auto-columns: 1fr 5fr 1fr;
        column-gap: 10px;
        color: #001d35;
    }

    .mail-side-filter .side-link.inbox {
        display: flex;
        align-items: center;
        padding: 0.5em 2.5em;
        width: 95%;
        border-top-right-radius: 3em;
        border-bottom-right-radius: 3em;
        font-weight: 300;
        font-size: 0.85em;
        color: #001d35;
        position: relative;
    }

    .mail-side-filter .side-link.inbox span {
        margin-inline-start: 1em;
    }

    .mail-side-filter .side-link.inbox .unread-count {
        position: absolute;
        right: 1em;
        top: 50%;
        transform: translateY(-50%);
    }

    .mail-side-filter .side-link.active,
    .side-link.active>i {
        background: var(--gm-active-color);
        font-weight: bold;
    }

    .mail-side-filter .side-link:hover {
        background: var(--gm-hover-link);
    }


    .mail-top-filter .sort-by {
        background-color: transparent;
        border: none;
        position: relative;
        cursor: pointer;
        padding: 0em 0em 0.3em 0px;
    }

    .mail-top-filter .sort-by .fa-filter-list {
        font-size: 1.5em;
        color: #333;
        padding: 0.5em;
        border-radius: 100%;
    }

    .mail-top-filter.sort-by-open .sort-by .fa-filter-list {
        padding: 0;
    }

    .mail-top-filter .sort-by .fa-filter-list:hover {
        background-color: var(--gm-input-bg);
        font-weight: bold;
    }

    .mail-top-filter .sort-by-open {
        color: #333;
        background-color: var(--gm-input-bg);
        padding-inline-end: 1em;
        border-radius: 3em;
        width: max-content;
    }

    .mail-top-filter .sort-by-container {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .mail-top-filter .sort-by-open .sort-btn {
        background-color: rgba(255, 255, 255, 0.443);
        border: none;
        cursor: pointer;
        font-size: 0.8em;
        padding: 0.7em;
        margin-inline-end: 1em;
        border-radius: 0.5em;
        box-shadow: 0px 1px 2px #00000057;
    }

    .mail-top-filter .sort-by-open .sort-btn:hover {
        background-color: var(--gm-active-color);
        border-radius: 0.5em;
    }

    .mail-top-filter .sort-by-open span {
        margin-inline-end: 1em;
        font-size: 0.9em;
        color: #333333ce;
    }

    /* preview */

    .mail-preview {
        width: 100%;
        font-weight: 300;
        font-size: 0.85em;
        text-align: start;
        display: grid;
        grid-auto-flow: column;
        align-items: baseline;
        column-gap: 0.7em;
        grid-template-columns:
            minmax(auto, 0.5fr) minmax(auto, 0.5fr) minmax(auto, 2fr) minmax(auto, 4fr) minmax(auto, 6fr) minmax(auto, 2fr);

        cursor: pointer;
        border-top: 0.5px solid rgba(0, 0, 0, 0.2);
    }

    .mail-list li:last-of-type {
        border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);

    }

    .mail-preview:hover {
        box-shadow: 0px 2px 12px hsl(240deg 7% 62% / 43%);
    }

    .mail-preview input {
        grid-column: 1;
        grid-row: 1;
    }

    .mail-preview .second,
    .starred {
        margin-inline-start: 0em;
        grid-column: 2;
        grid-row: 1;
    }

    .mail-preview .from {
        grid-column: 3;
        grid-row: 1;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    .mail-preview .subject {
        grid-column: 4;
        grid-row: 1;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    .mail-preview .body {
        grid-column: 5;
        grid-row: 1;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    .mail-preview .sentAt {
        grid-column: 6;
        grid-row: 1;
        text-align: end;
        margin-inline-end: 1em;
    }

    .mail-preview .upper {
        text-transform: capitalize;
    }

    .mail-preview .inline-action {
        grid-column: 6;
        grid-row: 1;
        display: flex;
        cursor: pointer;
        place-self: end;
        align-self: center;
        gap: 1em;
    }

    .mail-preview .inline-action i {
        padding: 0.5em;
        border-radius: 100%;
    }

    .mail-preview .inline-action i:hover {
        background: var(--gm-hover-link);
    }


    .mail-preview .fa-trash-can:nth-child(even) {
        color: rgb(47, 47, 47);
        font-size: 1.2em;
        font-weight: 500;
    }

    .mail-preview:hover .inline-action>span {
        font-size: 1em;
    }

    .mail-preview:hover .sentAt {
        display: none;
    }

    .mail-preview:hover .body {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
    }

    .mail-preview .from-draft {
        grid-column: 3;
        font-weight: 300;
        color: red;
    }

    .mail-preview .user-icon {
        display: none;
    }


    /* action bar */
    .action-bar-container {
        min-height: 3em;
        align-items: center;
        display: flex;
        cursor: pointer;
        place-self: end;
        align-self: center;
        gap: 0.5em;
        margin-inline-start: 0.2em;
    }

    .action-bar-container .star {
        margin-inline-start: 0.5em;
        margin-block-end: 0.08em;
    }

    .action-bar-container i {
        padding: 0.8em;
        border-radius: 100%;
    }

    .action-bar-container i:hover {
        background: var(--gm-hover-link);
    }

    /* mail details  */
    .mail-details .mail-info {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .mail-details .sender-details {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .mail-details .sender-details div>* {
        margin-inline-end: 0.2em;
    }

    .mail-details .user-icon {
        grid-row: 1/3;
        grid-column: 1;
    }

    .mail-details .user-icon i {
        font-size: 3em;
        margin-inline-end: 0.5em;
        font-weight: bold;
        position: relative;
        border-radius: 100%;
        color: white;
        box-shadow: 0.5px 1px 2px #0000003d;
    }


    .mail-details .mail-info .name {
        font-weight: 700;
    }

    .mail-details p {
        margin-inline-start: 5em;
        margin-inline-end: 5em;
        line-height: 1.7em;
    }

    .mail-details .mail-info .sent-at {
        font-size: 0.7em;
    }

    .mail-details .starred {
        display: flex;
        align-items: center;
    }

    .compose-mail {
        display: flex;
        flex-direction: column;
        position: fixed;
        bottom: 0;
        right: 5em;
        width: 500px;
        height: 500px;
        background-color: #fff;
        box-shadow: 0px 1px 2px #00000057;
        border-radius: 0.5em;
        font-family: "Google Sans", Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    }

    .compose-mail .compose-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: var(--gm-compose-header);
        padding: 0.5em;
        padding-inline-start: 1em;
    }

    .compose-mail .compose-header h1 {
        padding-bottom: 10px;
        padding-top: 10px;
        height: auto;
        line-height: 20px;
        padding-left: 0;
        padding-right: 0;
        -webkit-font-smoothing: antialiased;
        font-size: .875rem;
        letter-spacing: normal;
        font-weight: 500;
        margin: 0;
    }

    .compose-mail .compose-header .ctrl-btns {
        display: flex;
        padding-top: 10px;
        padding-bottom: 10px;

    }

    .compose-mail .ctrl-btns button {
        border: none;
        background: none;
        cursor: pointer;
    }

    .compose-mail .ctrl-btns button:not(.close-btn) {
        font-size: 0.5em;
    }


    .compose-mail .compose-inputs {
        display: flex;
        flex-direction: column;
        padding: 1em;
    }

    .compose-mail .input-group {
        display: flex;
        align-items: center;
    }

    .compose-mail .input-group label {
        margin-right: 2px;
        min-width: 10px;
        font-size: 0.95em;
    }

    .compose-mail .input-group input {
        flex: 1;
        padding: 5px;
        border: none;
    }

    .compose-mail .input-group input:focus {
        outline: none;
    }

    .compose-mail .mail-body {
        width: 100%;
        height: 250px;
        padding: 10px;
        box-sizing: border-box;
        border: none;
        font-family: inherit;
        resize: none;
    }

    .compose-mail .horizontal-line {
        border: none;
        height: 1px;
        background-color: #cccccc6f;
        width: 100%;
        align-self: center;
    }

    .compose-mail .mail-body:focus {
        outline: none;
    }

    .compose-mail .send-btn {
        background-color: #0b57d0;
        color: white;
        border: none;
        min-width: 7em;
        border-radius: 3em;
        padding: 1em;
        cursor: pointer;
    }

    .compose-mail .bottom-ctrls {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-block-end: 1em;
        padding: 1em;
    }

    .compose-mail .bottom-ctrls .to-note-btn {
        border: none;
        background-color: transparent;
        font-size: 1.02em;
        cursor: pointer;
        transition: scale 0.5s ease-in-out;
    }

    .compose-mail .bottom-ctrls .to-note-btn:hover,
    .exit-btn:hover {
        scale: 1.05;
    }

    .compose-mail .exit-btn {
        border: none;
        background-color: transparent;
        font-size: 1em;
        cursor: pointer;
    }

    .compose-mail.full {
        display: flex;
        flex-direction: column;
        position: fixed;
        bottom: 5vh;
        right: 5vw;
        width: 90vw;
        height: 90vh;
        background-color: #fff;
        box-shadow: 0px 1px 2px #00000057;
        border-radius: 0.5em;
        font-family: "Google Sans", Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    }

    .compose-mail.mini {
        height: 3.5em;
    }

    .compose-mail.mini .input-group,
    .compose-mail.mini .bottom-ctrls,
    .compose-mail.mini .horizontal-line {
        display: none;
    }

    /* home */

    .home-page {
        scroll-behavior: smooth;
        background-color: #343333;
    }

    .home-page img {
        width: 100%;
        height: 100%;
    }

    .home-page .app-header-btn {
        position: absolute;
        right: 1em;
        top: 0.4em;
        margin-inline-start: 10em;
        font-size: 1.5em;
        color: #cfcfcf;
    }

    .home-page .nav-btns {
        top: 4em;
        right: 0.5em;
    }

    .app-header-btn:hover {
        background-color: #ffffff19;
    }

    .home-page .hp-links>img {
        margin-block-start: 1em;
        margin-inline-start: 1em;
        max-width: 250px;
        height: auto;
        cursor: pointer;
    }

    .home-page .hp-links {
        display: flex;
        position: absolute;
        right: 6em;
        top: 4em;
        margin-inline-start: 3.5em;
        margin-block-start: 1em;
    }

    .home-page .hp-link {
        max-width: 10vw;
        background: transparent;
        border: none;
        cursor: pointer;
    }

    .home-page .hp-link:hover {
        border-radius: 0.5em;
        background-color: var(--gm-hover-link);
    }

}



/* big */

@media (min-width: 1200px) {
    .mail-index.content-grid {
        --main-width: 1800px;
        --side-width: 250px;
        --min-margin: 1em;

        grid-template-columns:
            var(--side-width) minmax(auto, var(--main-width)) minmax(var(--min-margin), auto);
    }

    .mail-side-filter .side-link.inbox span {
        margin-inline-start: 1.7em;
    }

    .mail-side-filter .side-link.active,
    .side-link.active>i {
        background: var(--gm-active-color);
        font-weight: bold;
    }

    .mail-preview .body,
    .mail-preview p {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    .action-bar-container {
        margin-inline-start: 0.5em;
    }


    /* home */

    .home-page {
        scroll-behavior: smooth;
        background-color: #343333;
    }

    .home-page img {
        width: 100%;
        height: 100%;
    }

    .home-page .app-header-btn {
        position: absolute;
        right: 1em;
        top: 0.7em;
        margin-inline-start: 10em;
        font-size: 2em;
        color: #cfcfcf;
    }

    .home-page .hp-links>img {
        margin-block-start: 1em;
        margin-inline-start: 1em;
        max-width: 250px;
        height: auto;
        cursor: pointer;
    }

    .home-page .hp-links {
        display: flex;
        position: absolute;
        right: 6em;
        top: 6em;
        margin-inline-start: 3.5em;
        margin-block-start: 1em;
    }

    .home-page .hp-link {
        max-width: 10vw;
        background: transparent;
        border: none;
        cursor: pointer;
    }

    .home-page .hp-link:hover {
        border-radius: 0.5em;
        background-color: var(--gm-hover-link);
    }

    .home-page .nav-btns {
        top: 5em;
        right: 0.5em;
    }

    .app-header-btn:hover {
        background-color: #ffffff19;
    }
}