.starred span {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: default;
    padding: 0;
}

.starred.edit span {
    margin: 0 10px;
    cursor: pointer;
}

.starred button:hover {
    background-color: inherit;
}

.starred .star {
    font-size: 1.2rem;
}

.starred .on {
    color: gold;
}

.starred .off {
    color: rgb(164, 162, 162);
}