.note-list {
    grid-column: 2;
    margin: 0 auto;

    /*  */
    /* display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto-fill auto-fill;
    grid-template-areas:
        "pinned"
        "others"; */
}

.note-list ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, 238px);
    grid-auto-flow: dense;
    gap: 15px;
    max-width: 70vw;
    margin: 0;
    margin-block: 0.5em 4em;
    padding: 0;
}

.note-list span:not(.note-loader) {
    display: block;
    text-transform: uppercase;
    color: var(--n-font-clr-1);
    letter-spacing: .07em;
    font-size: .72rem;
    font-weight: 500;
    line-height: 1rem;
    margin-inline-start: 1em;
}

.note-list li {
    position: relative;
    list-style: none;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 0.75em 1em;
    line-height: 1.25rem;
    letter-spacing: .01428571em;

    height: max-content;

    cursor: pointer;
    /* width: 238px; */
}

.note-list li:hover {
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 1px 3px 1px rgba(60, 64, 67, 0.149);
}
/*  */

.note-list li button:has(.fa-thumbtack) {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 0.9em;
}

.note-list li .fa-thumbtack {
    opacity: 1;
    transition: 0.5s;
}

/*  */
.note-list .remove-btn {
    position: absolute;
    top: -10px;
    right: -10px;

    font-size: 1.5em;
    background-color: var(--n-page-bg-default);
    border-radius: 50%;
    opacity: 0;
    transition: 0.2s;
}

.note-list .remove-btn:hover {
    cursor: pointer;
    background-color: rgb(205, 204, 204);
}

.note-list li:hover .remove-btn {
    opacity: 1;
}

/* test */

/* .note-list .hidden {
    display: none;
}

.note-list:has(.pinned) .hidden {
    display: inline;
}

.pinned-container {
    grid-area: pinned;
}
.others-container {
    grid-area: others;
}

.pinned {
}
.others {
} */