.note-preview h3 {
    font-weight: 400;
}

.note-preview {
    height: 100%;
    overflow: hidden;
}

.note-preview p {
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.input-field-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 598px;
    margin: 30px auto;
    padding: 0.4em 1em;
    border-radius: 8px;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 2px 6px 2px rgba(60, 64, 67, 0.149);
}

.input-field-container textarea,
.input-field-container input {
    border: none;
    font-size: 1em;
    min-height: 43px;
    width: 100%;

    line-height: 1.5rem;
    background-color: transparent;
    font-family: roboto, Arial, sans-serif;
    padding-top: 0.4em;
}

.input-field-container textarea {
    margin-block-start: 0.5em;
}

.input-field-container textarea::placeholder,
.input-field-container input::placeholder {
    font-family: google-sans, roboto, Arial, sans-serif;
}

.input-field-container textarea:focus-visible,
.input-field-container input:focus-visible {
    outline: none;
}

.input-field-container button {
    margin-inline-start: 0.5em;
    font-size: 1.3em;
    padding: 0.25em 0.55em;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.input-field-container button:hover {
    background-color: var(--n-btn-hover-clr);
}

.input-field-container button:hover i {
    opacity: 1;
}

.input-field-container i {
    opacity: 0.5;
}

.input-field-container button:has(.fa-thumbtack) {
    position: absolute;
    top: 5px;
    right: 5px;
}

.input-field-container .fa-thumbtack {
    opacity: 1;
    transition: 0.5s;
}

.fa-thumbtack.pinned {
    rotate: 90deg;
}

