 /* mail index  */
 .mail-index {
   background-color: var(--main-gm-bg-color);
   font-family: sans-serif;
   /* min-height: 100vh; */
 }

 .mail-index .mail-list {
   grid-column: 2;
 }

 .mail-index .mail-top-filter {
   grid-column: 2;
 }

 .mail-index .menu-btn {
   border: none;
   background-color: transparent;
   padding: 1em;
   font-size: 1.5em;
   cursor: pointer;
 }

 .mail-index .menu-bar {
   display: flex;
   align-items: center;
   height: auto;
   flex-direction: row;
   grid-row: 1;
 }

 .mail-index .menu-bar img {
   max-width: 100px;
   height: auto;
   cursor: pointer;
 }