.content-grid {
    --main-width: 1800px;
    --side-width: 250px;
    --min-margin: 1em;

    display: grid;
    grid-template-columns: 
        var(--side-width)
        minmax(auto, var(--main-width))
        /* minmax(auto, var(--min-margin)); */
        minmax(var(--min-margin), auto);
}



