/* .content-grid {
    --main-width: 1800px;
    --side-width: 250px;
    --min-margin: 1em;

    display: grid;
    grid-template-columns:
        var(--side-width) minmax(auto, var(--main-width))
        /* minmax(auto, var(--min-margin)); */
/* minmax(var(--min-margin), auto); */
/* } */

/* .content-grid {
    --main-width: 1800px;
    --side-width: 70px;
    --min-margin: 1em;

    display: grid;
    grid-template-columns:
        var(--side-width) minmax(auto, var(--main-width))
        /* minmax(auto, var(--min-margin)); */
        /* minmax(var(--min-margin), auto); */
/* }  */

.content-grid {
    --side-width: 60px;
    display: grid;
    grid-template-columns:
        var(--side-width);
}


.n-content-grid {
    --main-width: 600px;
    --side-width: 110px;
    --min-margin: 50px;

    display: grid;
    grid-template-columns:
        minmax(var(--side-width), 1fr) minmax(350px, var(--main-width)) minmax(var(--min-margin), 1fr);
}