/* MOBILE ONLY */

@media (max-width:720px) {


}

/* MEDIUM */

@media (min-width: 720px) {
    .n-content-grid {
        --main-width: 1200px;
        --side-width: 120px;
        --min-margin: 50px;

        display: grid;
        grid-template-columns:
            minmax(var(--side-width), 1fr) minmax(auto, var(--main-width)) minmax(var(--min-margin), 1fr);
    }

    .note-index .app-header-btn {
        margin-inline: auto;
    }

    .note-list ul {
        grid-template-columns: repeat(auto-fit, 238px);
        max-width: 75vw;
    }

    .top-nav .note-filter {
        gap: 20px;
    }

    .note-index .menu-bar span {
        padding-left: 4px;
    }

    .add-note-container .add-note {
        margin: 30px auto;
    }

    .input-action-bar .color-input .color {
        height: 2em;
        width: 2em;
    }

    .input-action-bar .color-input {
        left: 1em;
    }

}

/* LARGE */

@media (min-width: 1000px) {
    .n-content-grid {
        --main-width: 1500px;
        --side-width: 150px;
        --min-margin: 100px;
    }

    .note-index .app-header-container {
        justify-self: end;
        margin-inline-end: 0.5em;
    }

    .note-list ul {
        max-width: 80vw;
    }

    .note-filter span::after {
        content: 'Filters:';
    }


}