.top-nav {
  grid-column: 1/-1;
  padding-block-end: 0.4em;
  border-bottom: 1px solid rgb(211, 209, 209);
}

.note-index {
  --side-width: 1em;
  --main-width: 1200px;
  --min-margin: 1em;
  display: grid;
  grid-template-columns:
    minmax(var(--side-width), 1fr) minmax(auto, var(--main-width)) minmax(var(--min-margin), 1fr);

  font-family: roboto, arial, sans-serif;
  color: var(--n-font-clr);
  margin-block-start: 1em;
}

.note-index h2 {
  grid-column: 2;
  text-align: center;
  margin: 100px auto;
  color: gray;
}

.note-index .menu-btn {
  border: none;
  background-color: transparent;
  border-radius: 50%;
  cursor: pointer;
  padding: 0.4em 0.55em;
  font-size: 1.4em;
}

.note-index button:hover {
  background-color: var(--n-btn-hover-clr);
}

.note-index .menu-bar {
  display: flex;
  align-items: center;
  color: var(--n-font-clr-1);
}

.note-index .menu-bar img {
  height: auto;
  width: 48px;
}

.menu-bar span {
  font-family: google-sans, Arial, sans-serif;
  font-size: 1.4em;

  display: none;

}

.note-index .app-header-container {
  display: flex;
  justify-self: end;
}

.note-index .app-header-container .nav-btns {
  z-index: 3;
}