.app-header-btn {
    position: relative;
    background-color: transparent;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    font-weight: 100;
    color: #5F6367;
    width: 2em; 
    height: 2em;
    border-radius: 50%; 
    padding: 0;
}


.app-header-btn:hover {
    background-color: var(--gm-hover-link);
}

.nav-btns {
    display: flex;
    flex-direction: column;
    background-color: #F8FAFD;
    width: max-content;
    padding: 0.5em;
    position: absolute;
    right: 1em;
    top: 4.5em;
    border-radius: 1em;
    border: 10px solid #E9EEF6;
    box-shadow: 0px 0px 5px 0px #9b9898;
    opacity: 1;
    transition: opacity 1s ease-in-out, transform 0.3s ease;
    z-index: 100;
}

.nav-btns button {
    border: none;
    background-color: transparent;
    padding: 0.5em;
    cursor: pointer;
}

.nav-btns img {
    max-width: 70px;
}

.nav-btns button:hover {
    border-radius: 0.5em;
    background-color: var(--gm-hover-link);
}
