.home-page {
    background-color: var(--main-gm-bg-color);
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.home-page .app-header-btn {
    position: absolute;
    right: 1em;
    top: 1em;
    margin-inline-start: 10em;
}

.home-page header>img {
    margin-block-start: 1em;
    margin-inline-start: 1em;
    max-width: 250px;
    height: auto;
    cursor: pointer;
}

.home-page h1 {
    margin-inline-start: 2em;
    margin-block-start: 1em;
    font-size: 2em;
    font-family: sans-serif, Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
}

.home-page p {
    margin-inline-start: 3em;
    margin-block-start: 2em;
    font-size: 1.5em;
    font-family: sans-serif, Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
}

.home-page .hp-links {
    display: flex;
    margin-inline-start: 3.5em;
    margin-block-start: 1em;
}

.home-page .hp-link {
    max-width: 10vw;
    background: transparent;
    border: none;
    cursor: pointer;
}

.home-page .hp-link:hover {
    border-radius: 0.5em;
    background-color: var(--gm-hover-link);
}

.home-page main {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 90vw;
    min-height: 80vh;
    margin-block-start: 2em;
    background-color: #fff;
    border-radius: 1em;
}

